<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShamePile Software - @ViewBag.Title</title>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")  
    @Styles.Render("~/bundles/winjs-css")
    @Scripts.Render("~/bundles/winjs-js")

</head>
<body>
    <div id="layout">
        <header>
            <h1>Shame Pile Software</h1>
            <div class="site-nav">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </header>
        <div>
            @RenderBody()
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
